# Include the README
include *.md

# Include the license file
include LICENSE

# Include information about third party licensors
include THIRD-PARTY-NOTICES

include requirements.txt


recursive-include solaredge2mqtt *.py
recursive-include solaredge2mqtt *.flux

# Include information about version
include versioneer.py
include solaredge2mqtt/_version.py