aiocsv==1.3.2
aiohttp==3.9.5
aiomqtt==2.2.0
astral==3.2
ephem==4.1.5
influxdb-client==1.44.0
jsonref==1.1.0
loguru==0.7.2
numpy==2.0.0
pandas==2.2.2
pydantic==2.8.2
pyjwt==2.8.0
requests==2.32.3
scikit-learn==1.4.2
scipy==1.14.0
solaredge_modbus==0.8.0
tzlocal==5.2
